<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kgeun.countryexplorer">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="${appLabel}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:name="com.kgeun.countryexplorer.CEApplication"
        android:theme="@style/Theme.CountryExplorer"
        tools:replace="android:allowBackup,android:label">
        <activity android:name="com.kgeun.countryexplorer.view.activity.BBSplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.kgeun.countryexplorer.view.activity.BBMainActivity"
            android:windowSoftInputMode="stateHidden" />
    </application>

</manifest>